html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 300px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-heading {
    color: blue;
}

img {
    max-width: 100%;
    height: auto;
}

table, th, td {
    border: 1px solid black;
    width: max-content;
}

form {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    transition: all 0.3s;
}
#name::placeholder {
    color: #999;
    opacity: 1;
    transition: opacity 0.3 ease;
}
#name:focus::placeholder{
    opacity: 0;
}
#email::placeholder {
    color: #999;
    opacity: 1;
    transition: opacity 0.3 ease;
}
#email:focus::placeholder{
    opacity: 0;
}
#message::placeholder {
    color: #999;
    opacity: 1;
    transition: opacity 0.3 ease;
}
#message:focus::placeholder{
    opacity: 0;
}
